* {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: radial-gradient(rgb(192, 68, 68), rgb(104, 22, 124)) no-repeat;
    height: 97vh;
    color: whitesmoke;
}

header, footer {
    text-align: center;
}

section {
    background: rgb(211, 223, 223);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    color: rgb(12, 12, 12);
    box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.450);
}

input, select {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
}

input[type="number"] {
    padding-left: 10px;
    margin-left: 10px;
}

input[type="button"] {
    margin-left: 50px;
    padding: 5px 10px;
}

input[type="button"]:hover {
    opacity: 0.9;
    cursor: pointer;
}

input[type="button"]:active {
    opacity: 0.8;
}

#sNum {
    min-width: 160px;
    padding: 10px;
    overflow-y: auto;
    font-size: 1em;
    margin-bottom: 10px;
}

#resultado {
    position: absolute;
    top: 20%;
    left: 40%;
    text-decoration: underline;
}

footer a {
    font-style: italic;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}