@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background: radial-gradient(rgb(68, 122, 192), rgb(22, 66, 124)) no-repeat;
    height: 97vh;
    color: whitesmoke;
    text-align: center;
}

section {
    background: azure;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    color: rgb(12, 12, 12);
    box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.450);
}

input {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
}

input[type="number"] {
    padding-left: 10px;
    margin-left: 10px;
}

input[type="radio"] {
    margin-left: 10px;
}

input[type="button"] {
    padding: 5px 10px;
    cursor: pointer;
}

input[type="button"]:hover {
    opacity: 0.9;
}

input[type="button"]:active {
    opacity: 0.8;
}

footer {
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}