@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

body {
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 96vh;
}

section {
    background: rgb(211, 223, 223);
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    color: rgb(12, 12, 12);
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.450);
}
div {
    padding: 8px;
}

div#photo > img {
    width: 25rem;
    height: 25rem;
    clip-path: circle(50.0% at 50% 50%);
}

footer {
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}