body {
    background: rgb(68, 122, 192);
    color: whitesmoke;
    text-align: center;
}

section {
    background: azure;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    color: rgb(12, 12, 12);
    box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.450);
}

footer {
    font-style: italic;
}